<div class="callout callout--primary">
    <div class="grid grid--cols-2">
        <div class="callout__content">
            <h2 class="callout__heading">Readty to Get Started?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ut soluta, consequatur optio quae
                deserunt pariatur vitae, officia nobis nesciunt molestiae temporibus esse! Quidem unde autem, itaque
                recusandae exercitationem minus?
            </p>
        </div>
        <a href="" class="btn btn--secondary btn--stretched">Test</a>
    </div>
</div>