<div class="collapsible">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">item</h2>
        <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero inventore doloribus ipsum ipsam natus
            excepturi expedita sint quasi assumenda ab! Nihil ab libero numquam consectetur a consequatur similique
            placeat repudiandae.</p>
    </div>
</div>