<section class="block block--dark block--skewed-left .hero__content">

    <div class="container grid grid--cols-2">
        <header class="block__header hero__content">
            <h1 class="block__heading">Cloud hosting for Pros</h1>
            <p class="hero__tagline">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum enim vero unde
                minima, voluptate maiores dicta odit soluta optio! Ullam recusandae vero non omnis quibusdam magni velit
                laudantium veritatis placeat.</p>
            <a href="" class="btn btn--accent btn--stretched">Test</a>
        </header>
        <img class="hero__image" src="./images/banner.png" alt="">
    </div>
</section>